.app {
  padding: 30px;
  background-color: floralwhite;
  height: 100vh;
}

.lists {
  display: flex;
}

.item {
  align-items: center;
  /*display: flex;*/
  font-size: 18px;
  justify-content: space-between;
}

.item span {
  position: relative;
  top: .5em;
}

h2 {
  padding: 0 5px;
}

.list {
  float: left;
  width: 20%;
  padding: 3px 3px ;

  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
}

.control-buttons button.btn {
  font-size: .5rem;
 padding: 0.5em 0.5rem;
}

.control-buttons {
  position: absolute;
  right: .2em;
  top: .2em;
}


.app::after {
  content: "";
  clear: both;
  display: table;
}
